$breakpoints: (
    // mobile
    s: 360px,
    // tablet
    m: 768px,
    // desktop
    l: 1024px,
    // desktop extra
    xl: 1200px
);

$RegularFont: MontserratRegular, sans-serif;
$SemiBoldFont: MontserratSemiBold, sans-serif;
