@font-face {
    font-family: MontserratRegular;
    src: url('assets/fonts/typography/Montserrat-Regular.ttf')
        format('truetype');
}
@font-face {
    font-family: MontserratSemiBold;
    src: url('assets/fonts/typography/Montserrat-SemiBold.ttf')
        format('truetype');
}
