@font-face {
    font-family: TypoRegular;
    src: url('assets/fonts/typography/Montserrat-Regular.ttf')
        format('truetype');
}
@font-face {
    font-family: TypoSemiBold;
    src: url('assets/fonts/typography/Montserrat-SemiBold.ttf')
        format('truetype');
}
